[package]
name = "py-horned-owl"
version = "1.0.0"
authors = ["Janna Hastings <j.hastings@ucl.ac.uk>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name="pyhornedowl"
crate-type=["cdylib"]

[dependencies.pyo3]
version = "0.21"
features = ["abi3-py37", "extension-module", "experimental-inspect", "multiple-pymethods"]

[dependencies]
horned-owl = "1.0.0"
horned-bin = "1.0.0"
curie = "0.1.2"
failure = "0.1.8"
quote = "1.0"
paste = "1.0"
regex="1.10"

[profile.dev]
opt-level=3
