{%- macro include_extensions(extensions, name) %}
{%- if "named" in extensions %}
    /******** EXTENSION "named" for {{ name }} ********/
    impl Display for {{ name }} {
        fn fmt(&self, f: &mut std::fmt::Formatter<'_>) -> std::fmt::Result {
            write!(f, "{}", self.0.0)
        }
    }

    #[pymethods]
    impl {{ name }} {
        fn __str__(&self) -> String {
            self.to_string()
        }
    }
{%- endif %}
{%- if "class-expression" in extensions %}
    /******** EXTENSION "class-expression" for {{ name }} ********/
    #[pymethods]
    impl {{ name }} {
        fn __and__(&self, ce: ClassExpression) -> PyResult<ObjectIntersectionOf> {
            Ok(ObjectIntersectionOf(vec![self.clone().into(), ce].into()))
        }

        fn __or__(&self, ce: ClassExpression) -> PyResult<ObjectUnionOf> {
            Ok(ObjectUnionOf(vec![self.clone().into(), ce].into()))
        }

        fn __invert__(&self) -> ObjectComplementOf {
            ObjectComplementOf(Box::<ClassExpression>::new(self.clone().into()).into())
        }
    }
{%- endif %}
{%- if "object-property-expression" in extensions %}
    /******** EXTENSION "object-property-expression" for {{ name }} ********/
       #[pymethods]
        impl {{ name }} {
            fn some(&self, ce: ClassExpression) -> PyResult<ObjectSomeValuesFrom> {
                Ok(ObjectSomeValuesFrom {
                    ope: self.clone().into(),
                    bce: Box::new(ce).into(),
                })
            }

            fn only(&self, ce: ClassExpression) -> PyResult<ObjectAllValuesFrom> {
                Ok(ObjectAllValuesFrom {
                    ope: self.clone().into(),
                    bce: Box::new(ce).into(),
                })
            }

            fn has_value(&self, individual: Individual) -> PyResult<ObjectHasValue> {
                Ok(ObjectHasValue{
                    ope: self.clone().into(),
                    i: individual,
                })
            }

            fn has_self(&self) -> PyResult<ObjectHasSelf> {
                Ok(ObjectHasSelf(self.clone().into()))
            }

            fn min(&self, n: u32, ce: ClassExpression) -> PyResult<ObjectMinCardinality> {
                Ok(ObjectMinCardinality {
                    n,
                    ope: self.clone().into(),
                    bce: Box::new(ce).into(),
                })
            }

            fn max(&self, n: u32, ce: ClassExpression) -> PyResult<ObjectMaxCardinality> {
                Ok(ObjectMaxCardinality {
                    n,
                    ope: self.clone().into(),
                    bce: Box::new(ce).into(),
                })
            }

            fn exact(&self, n: u32, ce: ClassExpression) -> PyResult<ObjectExactCardinality> {
                Ok(ObjectExactCardinality {
                    n,
                    ope: self.clone().into(),
                    bce: Box::new(ce).into(),
                })
            }

            fn __invert__(&self) -> ObjectPropertyExpression {
                let ope: ObjectPropertyExpression = self.clone().into();
                let inner: ObjectPropertyExpression_Inner = match ope.0 {
                    ObjectPropertyExpression_Inner::InverseObjectProperty(
                        InverseObjectProperty(i),
                    ) => ObjectPropertyExpression_Inner::ObjectProperty(i),
                    ObjectPropertyExpression_Inner::ObjectProperty(i) => {
                        ObjectPropertyExpression_Inner::InverseObjectProperty(
                            InverseObjectProperty(i),
                        )
                }
                };

                ObjectPropertyExpression(inner)
            }
        }
{%- endif %}
{%- endmacro %}
